:root {
    --background1: black;
    --background2: rgb(36, 12, 48);
}

@font-face {
    font-family: "ArchitectsDaughterRegular";
    src: url("../font/ArchitectsDaughter.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "ArchitectsDaughterRegular";
}

body {
    background-color: var(--background1);
    color: white;
    text-align: center;
    scrollbar-color: darkorchid rgb(36, 12, 48);
}

table {
    margin: auto;
}

td {
    padding: 10px;
}

h1 {
    font-size: 6vh;
    line-height: 1;
}

h2 {
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}

h3 {
    font-size: larger;
    line-height: 1;
    margin: 0px;
}

p {
    font-size: medium;
    text-align: left;
    line-height: 1.5;
}

.centered-text {
    text-align: center;
}


/************************** index.html style ***********************/
    #index-container {
        background: var(--background2);
        width: calc(100% - 40px);
        position: relative;
        padding: 10px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .indexTitleImage {
        width: 100%;
    }

    #download-container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        margin: auto;
    }

    .downloads {
        margin: 20px;
        text-align: center;
        flex-basis: 40%;
        min-width: 200px;
    }

    /* content spacer */
    .spacing-index {
        position: relative;
        height: 5vh;
        width: 30px;
    }

    #critter-image {
        width: 40%;
        margin: auto;
    }

    #critter-text {
        font-size: xx-small;
        width: 60%;
        margin: auto;
        text-align: center;
    }


/************************** alonetogether.html style ***************/
/* main container */
    #container {
        display: flex;
        height: calc(90vh - 20px);
        width: 100%;
        margin-right: 1%;
        flex-flow: row;
    }

/* general containers */
    .empty-container {
        background: var(--background1);
        position: relative;
        width: 20%;
    }

    .text-container {
        background: var(--background2);
        width: 40%;
        position: relative;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .image-container {
        background: var(--background2);
        width: 60%;
        position: relative;
    }

    .title-container {
        background: var(--background1);
        width: 60%;
        position: relative;
    }

    .error-container {
        background: var(--background2);
        width: 100%;
        height: 98vh;
        position: relative;
    }

/* enforced dimension containers */
    [class^="enforced-ratio"] {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        color: white;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }

    .enforced-ratio-text {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
    }

    .enforced-ratio-error {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

/* image styling */
    [class^="page-image"] {
        max-height: 99%;
        max-width: 99%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        object-fit: contain;
    }

    .page-image-title {
        position: relative;
        width: 100%;
        max-height: 60%;
    }

/* page footer */
    #story-footer {
        position: absolute;
        width: 100vw;
        bottom: 0;
        left: 0;
        border-top: 1px solid darkorchid;
        padding-top: 10px;
        height: 10vh;
    }

/* navigation buttons */
    [id^='nav-button-'] {
        width: 39%;
        position: fixed;
    }

    #nav-button-back {
        left: 10px;
    }

    #nav-button-forward {
        right: 10px;
    }

/************************** @media overrides ***********************/
/** initial config for small screens, then increasing screen size **/

/* tablet */
    @media only screen and (min-width: 850px)
    {
        h3 {
            font-size: 5vh;
        }

        #container {
            height: calc(93vh - 20px);
        }

        #story-footer {
            height: 7vh;
        }

        #index-container {
            width: calc(100% - 80px);
            margin: 30px;
        }

        .indexTitleImage {
            width: 90%;
        }
    }

/* desktop */
    @media only screen and (min-width: 1000px)
    {
        h3 {
            font-size: 4vh;
        }

        #container {
            height: calc(94vh - 20px);
        }

        #story-footer {
            height: 6vh;
        }
    }