:root {
    --background1: black;
    /* slateblue; */
    --background2: black;
    /* royalblue; */
}

@font-face {
    font-family: "ArchitectsDaughterRegular";
    src: url("../font/ArchitectsDaughter.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "ArchitectsDaughterRegular";
}

body {
    background-color: black;
    color: white;
    text-align: center;
    scrollbar-color: darkorchid rgb(36, 12, 48);
    scrollbar-width: none;
    scroll-behavior: smooth;
}

table {
    margin: auto;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 4vh;
    margin: 0px;
}

p {
    font-size: 3vh;
    text-align: left;
    line-height: 1.5;
}

#container {
    display: flex;
    height: 85vh;
    width: 98vw;
    margin: auto;
    flex-flow: row;
}

.empty-container {
    background: var(--background2);
    position: relative;
    width: 20%;
}

.text-container {
    background: var(--background2);
    width: 40%;
    position: relative;
    overflow-y: scroll;
}

.image-container {
    background: var(--background1);
    width: 60%;
    position: relative;
}

.error-container {
    background: var(--background1);
    width: 100%;
    position: relative;
}

*[class="enforced-ratio"] {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: auto;
}

.enforced-ratio-text {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
}

.enforced-ratio-image {
    width: 100%;
    height: 100%;
}

.enforced-ratio-title {
    width: 100%;
    height: 100%;
}

.enforced-ratio-error {
    padding: 20px;
}

*[class="page-image"] {
    max-height: 99%;
    max-width: 99%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: contain;
}

.page-image-portrait {
    max-height: 99%;
}

.page-image-title {
    width: 100%;
    max-height: 60%;
    object-fit: contain;
}

.centered-text {
    text-align: center;
}

#story-footer {
    justify-content: space-around;
    border-top: 1px solid darkorchid;
    padding-top: 10px;
}

/* #nav-button-back {
}

#nav-button-forward {
} */

/* tablet */
@media only screen and (min-width: 850px)
{
    #container {
        height: 90vh;
    }

    p {
        font-size: 2.5vh;
    }
}

/* desktop */
@media only screen and (min-width: 1000px)
{
    #container {
        height: 91vh;
    }

    p {
        font-size: 2vh;
    }
}