/* index.html style */
.indexTitleImage {
    width: 90%;
}

.spacing-index {
    position: relative;
    height: 5vh;
    width: 30px;
}

.downloads {
    margin: 20px;
    
    text-align: center;
    width: 30%;
    min-width: 200px;
}

#download-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 80%;
    margin: auto;
}