body {
    background-color: black;
    color: white;
    text-align: center;
}

.indexTitleImage {
    width: 70%;
}

.spacing-index {
    position: relative;
    height: 5vh;
    /* background-color: red; */
}

#downloads {
    position: relative;
    margin: auto;
    text-align: left;
    width: 70%;
    /* background-color: red; */
}
 